@font-face {
    font-family: "Neue Montreal";
    src: url('https://jacobbolvig.github.io/esportsads/fonts/neuemontreal-bold-webfont.woff2') format('woff2'),
         url('https://jacobbolvig.github.io/esportsads/fonts/neuemontreal-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: "Apris";
    src: url('https://jacobbolvig.github.io/esportsads/fonts/Apris-Medium.woff2') format('woff2'),
        url('https://jacobbolvig.github.io/esportsads/fonts/Apris-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

/* front page edits */

h1#block-97ac501f9d194c7d8f68d3e7c64cdcec {
    font-family: "Neue Montreal" !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin-top: -0.3rem !important;
}

h1#block-8ab3f6025ca74033b0e6884c8291a55f {
    font-family: "Apris" !important;
    font-weight: 500 !important;
    font-size: 3.1rem !important;
}

div#block-5d46e7cd5e2642989f59db4e33f8fbf1.notion-text__content {
    font-size: 1.35rem !important;
    margin-top: 0.5rem !important;
    max-width: 800px !important;
}

/* front page edits - end */

.super-navbar__menu {
    background: var(--mobile-menu-background-color) !important;
}
.super-navbar {
    transition: height 0.3s ease-in-out !important;
    box-shadow: 0 0 1px 1px rgba(33, 41, 63, 0.1) !important;
    z-index: 90 !important;
    height: 80px !important;
}
.super-navbar__cta {
    padding: 12px 20px !important;
    background: var(--button-bg-color) !important;
    color: var(--button-text-color);
    border-radius: var(--button-rounding) !important;
}
.super-navbar__logo-image {
    width: 8rem !important;
    
}
.super-navbar.scrolled {
    -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
    -moz-backdrop-filter: blur(20px) saturate(200%) !important;
    backdrop-filter: blur(20px) saturate(200%) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
}
.super-navbar.scrolled {
    height: 65px !important;
}
.notion-toggle.bg-brown {
    display: none !important;
}
.notion-image img {
    border-radius: 0px !important;
}

.notion-image.normal {
    border: 1px solid #cccccc !important;
}    

h1.notion-heading {
    font-size: 42px !important;
    line-height: 48px !important;
    font-weight: 700; 
}

h2.notion-heading {
    font-size: 25pt  !important;
    font-weight: 700  !important;
    font-family: 'Neue Montreal' !important;
    letter-spacing: 0.03rem !important;
    font-kerning: 1rem !important;
    text-align: center !important;
    margin-top: 6rem !important;
}

h3.notion-heading {
    font-size: 20pt !important;
    font-family: 'Neue Montreal' !important;
    text-align: center !important;
    margin-top: 4rem !important;
}

.notion-icon__page {
    display: none !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover img {
    transition: all 0.25s ease-in-out !important;
}
.notion-collection-gallery {
    gap: 45px !important;
    row-gap: 50px !important;
}
.notion-collection-card {
    box-shadow: none !important;
    background: transparent !important;
}
.notion-collection-gallery {
    border-top: 0px !important;
}
.notion-collection-card__property {
    min-height: 0px !important;
}
.notion-collection-card__content > * {
    margin-bottom: 10px !important;
}
.notion-collection-card__cover {
    border-radius: 0px !important;
    box-shadow: 0 3px 16px 0 rgba(38, 47, 92, 0.06);
    border: 0 !important;
}
.notion-collection-card__cover.medium {
    height: 280px !important;
    max-height: 280px !important;
}

.notion-property__title {
    transition: opacity 0.15s ease-in-out !important;
    margin-bottom: 5px !important;
    opacity: 0.85 !important;
    font-family: "Neue Montreal" !important;
}
.notion-property.notion-property__title .notion-semantic-string span {
    white-space: pre-wrap !important;
}
.notion-collection-card .notion-property__title {
    padding: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
.notion-collection-card__content {
    padding: 0px !important;
    justify-content: space-between !important;
    font-size: 0.8em !important;
}
.notion-collection-card__property:last-child,
.notion-collection-list__item-property:last-child {
    border-radius: 100px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    opacity: 0.5 !important;
    transition: opacity 0.15s ease-in-out !important;
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
}
.notion-property.notion-property__select .notion-pill {
    padding: 14px 10px !important;
    margin: 0px 8px 0px 0px !important;
    line-height: 0 !important;
    max-width: 100% !important;
    border-radius: 50px !important;
    opacity: 0.7 !important;
    transition: opacity 0.15s ease-in-out !important;
    font-family: "Apris";
    font-weight: 400;
}
.notion-pill {
    font-size: 0.8rem !important;
}   

.notion-collection-card .notion-property__title span {
    font-size: 22px !important;
    font-weight: 600 !important;
}
.notion-collection-card:hover {
    background: none !important;
    cursor: pointer !important;
}
.notion-collection-card:hover .notion-collection-card__property:last-child,
.notion-collection-list__item:hover .notion-collection-list__item-property:last-child {
    opacity: 1 !important;
}
.notion-collection-card:hover > .notion-property__title {
    opacity: 1 !important;
}
.notion-collection-card:hover .notion-property.notion-property__select .notion-pill {
    opacity: 1 !important;
}
.notion-collection-card:hover .notion-collection-card__cover {
    transform: scale(0.97) !important;
    border-radius: 0px !important;
}
.notion-collection-card:hover .notion-collection-card__cover img {
    transform: scale(1.15) !important;
}
.gallery .notion-collection-card__property .notion-semantic-string {
    white-space: pre-wrap !important;
    opacity: 0.8 !important;
    font-size: 14px !important;
}
.notion-collection {
    transition: all 0.15s ease-in-out !important;
}
.notion-embed iframe {
    background: var(--color-bg-default) !important;
}
.notion-collection-list {
    max-width: 800px !important;
    margin: 0 auto !important;
    border-top: 0 !important;
}
.notion-collection-list__item {
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    padding: 20px !important;
    transition: background 0.15s ease-in-out !important;
    border: 1px solid var(--list-item-border) !important;
}
.notion-collection-list__item:hover {
    background: var(--list-item-hover) !important;
    cursor: pointer;
}
.notion-collection-list__item-content {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    max-width: 460px !important;
}
.notion-collection-list__item-property .notion-semantic-string {
    white-space: pre-wrap !important;
}
.notion-collection-list .notion-property__title__icon-wrapper span,
.notion-property__title__icon-wrapper {
    display: block !important;
}
.notion-collection-list .notion-property__title__icon-wrapper {
    margin-inline-end: 10px !important;
}
.notion-collection-list .notion-property__title {
    font-size: 22px !important;
    margin-bottom: 10px !important;
}

.notion-column-list {
    align-self: center;
    
}
.notion-root > h1.notion-heading:first-of-type {
    text-align: center !important;
    max-width: 600px !important;
    margin: 0 auto !important;
}
.notion-root > h1.notion-heading:last-of-type {
    text-align: center !important;
    max-width: 600px !important;
    margin: 0 auto !important;
}
@-webkit-keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes dropdown-animation-in {
    0% {
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@-webkit-keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}
@keyframes dropdown-animation-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        z-index: -1;
        opacity: 0;
        transform: translateY(-5%) scale(0.95);
    }
}
.notion-dropdown__menu-header,
.notion-dropdown__button svg:first-of-type {
    display: none !important;
}
.notion-dropdown {
    width: 100% !important;
}
.notion-dropdown__button {
    justify-content: space-between !important;
    width: 100% !important;
    border: 1px solid var(--color-border-default) !important;
    padding: 10px !important;
    border-radius: 8px !important;
}
.notion-dropdown__menu-wrapper {
    margin-bottom: 25px !important;
}
.notion-dropdown__menu {
    width: 100% !important;
    border-radius: 8px !important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
    background: var(--color-bg-default) !important;
    border: 1px solid var(--color-border-default) !important;
    margin-top: 5px !important;
}
.notion-dropdown__option-list {
    padding: 0px !important;
    flex-wrap: wrap !important;
}
.notion-dropdown__option {
    padding: 5px 16px !important;
    height: 50px !important;
}
.notion-dropdown__option p,
.notion-dropdown__button-title {
    font-size: 16px !important;
}
.notion-dropdown__button:hover {
    background: transparent !important;
}
.notion-dropdown__option-icon {
    display: none !important;
}
@media all and (min-width: 624px) {
    
    .notion-dropdown__button,
    .notion-dropdown__menu-header {
        display: none !important;
    }
    .notion-dropdown__menu.initial-state {
        z-index: 1 !important;
        opacity: 1 !important;
        transform: none !important;
    }
    .notion-dropdown__menu.animate-in.animate-out,
    .notion-dropdown__menu.animate-in,
    .notion-dropdown__menu.animate-out {
        animation: none !important;
    }
    .notion-dropdown__menu {
        background: transparent !important;
        box-shadow: unset !important;
        transform: none !important;
        left: auto !important;
        top: auto !important;
        position: relative !important;
        border: none !important;
    }
    .notion-dropdown__menu-wrapper {
        margin-bottom: 0px !important;
        position: relative !important;
    }
    .notion-dropdown__option:hover {
        background: transparent !important;
        border: 1px solid var(--color-text-default) !important;
    }
    .notion-dropdown__option:hover p,
    .notion-dropdown__option:hover svg {
        color: var(--color-text-default) !important;
    }
    .notion-dropdown__option {
        margin: 10px 10px;
        border: 1px solid var(--color-border-default) !important;
        border-radius: var(--button-rounding) !important;
        transition: all 0.2s ease-out !important;
    }
    .notion-dropdown__option p {
        transition: color 0.2s ease-in-out !important;
        color: var(--color-grey) !important;
        font-size: 18px !important;
    }
    .notion-dropdown__option-list {
        display: flex !important;
        padding: 0 !important;
        margin-left: -10px !important;
        justify-content: center !important;
    }
    .notion-dropdown__option.active-filter {
        background: var(--button-bg-color) !important;
        border: var(--button-bg-color) !important;
    }
    .notion-dropdown__option.active-filter p {
        color: var(--button-text-color) !important;
    }
}


@media screen and (min-width: 320px) {
  /* Mobile - Portrait CSS */
     .notion-collection-gallery.large {
        grid-template-columns: repeat(auto-fill,minmax(var(--collection-card-cover-size-large),1fr)) !important;
    }
  
    .notion-collection-card__cover.large {
    height: 80vw !important;
    max-height: none !important;
    }
    .notion-header__cover.no-cover {
    max-height: 30px !important;
    height: 30px !important;
    }
}
@media screen and (min-width: 767px) {
  /* Mobile - Landcape CSS */
     .notion-collection-gallery.large {
        grid-template-columns: repeat(auto-fill,minmax(var(--collection-card-cover-size-large),1fr)) !important;
    }
    .notion-collection-card__cover.large {
    height: 38vw !important;
    max-height: none !important;
    }
    .notion-header__cover.no-cover {
    max-height: 80px !important;
    height: 80px !important;
    }
}
@media screen and (min-width: 991px) {
  /* Tablet CSS */
     .notion-collection-gallery.large {
        grid-template-columns: repeat(1,minmax(var(--collection-card-cover-size-large),1fr)) !important;
    }
    .notion-collection-card__cover.large {
    height: 45vw !important;
    max-height: none !important;    
    }
    .notion-header__cover.no-cover {
    max-height: 80px !important;
    height: 80px !important;
    }
}
@media screen and (min-width: 1280px) {
  /* screens 1280px wide and above */
     .notion-collection-gallery.large {
        grid-template-columns: repeat(2,minmax(var(--collection-card-cover-size-large),1fr)) !important;
    }
    .notion-collection-card__cover.large {
    height: 25vw !important;
    max-height: none !important;
    }
   .notion-header__cover.no-cover {
    max-height: 80px !important;
    height: 80px !important;
    }
   
}

#page-index .notion-header__cover.has-cover {
    position: absolute !important;
    width: 100% !important;
    top: 0 !important;
    margin-top: -20px !important;
    height: 100vh !important;
    max-height: 100vh !important;
    z-index: -2 !important;
    opacity: var(--bg-opacity) !important;
}
.notion-header__cover:after {
    content: "" !important;
    position: absolute !important;
    z-index: 1 !important;
    bottom: -2px !important;
    left: 0 !important;
    background-image: linear-gradient(to bottom, rgba(233, 233, 233, 0), rgba(233, 233, 233, 1) 98%) !important;
    width: 100% !important;
    height: 100% !important;
}

#page-index .notion-header__content {
    display: none !important;
}
#page-index .super-content {
    margin-top: 0rem !important;
}
.notion-header__title-wrapper {
    text-align: center !important;
}
.notion-header__title {
    font-family: 'Apris' !important;
    font-weight: 500 !important;
    text-align: center !important;
}
.notion-root > h1.notion-header__title:first-of-type {
    text-align: center !important;
    max-width: 600px !important;
    margin: 0 auto !important;
}
.notion-header__icon-wrapper.has-icon,
.notion-header__icon-wrapper.has-icon-image {
    position: absolute !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
}
#page-index .notion-text {
    text-align: center !important;
    max-width: 600px !important;
    margin: 0 auto !important;
}
.max-width {
    max-width: var(--page-width) !important;
}
#page-setup-guide .max-width {
    max-width: 900px !important;
}
.notion-root .notion-text .notion-text__content .notion-semantic-string span strong .notion-link,
.notion-text .notion-text__content .notion-semantic-string span .notion-link strong {
    margin: 20px -5px !important;
    padding: 12px 18px !important;
    border-radius: var(--button-rounding) !important;
    opacity: 1 !important;
    font-weight: 300 !important;
    display: inline-flex !important;
    justify-content: center !important;
    transition: background 0.2s ease-in-out !important;
    background: var(--button-bg-color) !important;
    color: var(--button-text-color) !important;
    border: 0 !important;
}
.notion-link {
    opacity: 1 !important;
    max-width: 800px;
    margin: auto;
    cursor: pointer;
}

.notion-link:hover {
    opacity: 0.7 !important;
    cursor: pointer;
}
a.notion-link.super-navbar__logo {
    max-width: 100% !important;
}

.notion-text__content {
    margin: 0.5rem auto 0.6rem auto !important;
    max-width: 680px;
    font-size: 1.12rem;
    line-height: 1.6rem;
}

.notion-toggle__summary {
   max-width: 680px;
}